# Pandas Lottery Generator

Sumrit Sanghera. Generator used for Lotto 649 Game

In [18]:
import pandas as pd
import numpy as np

In [167]:
#lottery data from https://www.getmylottoresults.com/lotto-649-past-winning-numbers/
#lotto data from 2021

df = pd.read_csv('lotto649_2021.csv', delimiter = ',')

In [16]:
print(df.to_string())

               Draw Date   1   2   3   4   5   6  Bonus
0     29th December 2021  18  32  42  44  45  48     38
1     25th December 2021   4  13  21  24  31  45     41
2     22nd December 2021   1   2   3  11  15  43     46
3     18th December 2021   2  10  15  16  20  49     18
4     15th December 2021   1   9  12  18  35  48     19
5     11th December 2021   1   6  26  27  43  46     12
6      8th December 2021  23  25  26  36  40  49     42
7      4th December 2021   5  11  15  28  31  47     19
8      1st December 2021  14  17  27  34  36  42      8
9     27th November 2021   6   7  14  23  35  41     11
10    24th November 2021  10  11  18  20  35  48     39
11    20th November 2021  15  25  26  29  42  43     22
12    17th November 2021   3   4  18  23  27  28     38
13    13th November 2021   5   6   7  18  25  37     24
14    10th November 2021   2   7  18  19  23  25     43
15     6th November 2021  14  16  28  39  41  47     37
16     3rd November 2021   9  20  27  35  37  43      3
17     30th October 2021   3   5   7  23  42  46     15
18     27th October 2021   3   9  14  36  40  46     41
19     23rd October 2021   1   3   9  40  42  44     46
20     20th October 2021   6   9  34  35  48  49     41
21     16th October 2021   5  10  11  33  44  47     20
22     13th October 2021   2   7   8  11  19  27     24
23      9th October 2021   1  11  19  27  28  38      8
24      6th October 2021   7  18  19  38  42  46     31
25      2nd October 2021   8  17  18  19  48  49     26
26   29th September 2021   3   5  38  39  41  48     28
27   25th September 2021   3   8  10  35  46  48     17
28   22nd September 2021   5  14  19  30  38  40     27
29   18th September 2021   9  26  29  36  40  41     27
30   15th September 2021   7  11  14  15  27  41     49
31   11th September 2021  15  18  31  33  34  41     45
32    8th September 2021   2   7  10  16  28  36     41
33    4th September 2021   6  13  18  19  29  49      2
34    1st September 2021   3   4  14  18  19  42     43
35      28th August 2021   6   8   9  12  19  26     43
36      25th August 2021   1  16  34  37  41  48     21
37      21st August 2021   2   9  15  21  38  46     36
38      18th August 2021   7   8  28  30  32  42     33
39      14th August 2021   3   8  11  34  40  47      4
40      11th August 2021  12  15  25  40  44  45     31
41       7th August 2021  10  13  15  22  29  46      3
42       4th August 2021   3   8  21  38  42  49     27
43        31st July 2021   7  30  37  43  47  49     20
44        28th July 2021   1   4  10  14  32  39     19
45        24th July 2021   1   5   7  19  37  45     35
46        21st July 2021   2   4  15  20  35  45     10
47        17th July 2021  22  24  28  35  37  45     49
48        14th July 2021   2   9  19  23  26  30     10
49        10th July 2021   4   5  18  28  35  42      2
50         7th July 2021  11  16  21  26  42  45     22
51         3rd July 2021   4   7  10  31  33  38     23
52        30th June 2021   9  10  13  26  28  30     36
53        26th June 2021  15  27  36  37  43  49      7
54        23rd June 2021   9  17  20  22  34  40     48
55        19th June 2021  13  15  17  25  34  45      5
56        16th June 2021  16  23  32  33  37  45      3
57        12th June 2021  11  20  22  33  41  49     34
58         9th June 2021   1   3  15  26  28  39     10
59         5th June 2021  13  15  22  42  45  46     14
60         2nd June 2021   1  13  22  32  33  39     48
61         29th May 2021  11  18  19  27  34  46     42
62         26th May 2021   7  10  20  38  45  49     26
63         22nd May 2021   7  13  14  34  37  45     29
64         19th May 2021  12  21  25  40  42  49     45
65         15th May 2021   3   6  12  28  39  46      5
66         12th May 2021  30  35  39  42  46  48     38
67          8th May 2021  25  28  36  38  41  49     20
68          5th May 2021   5  22  23  26  43  46      4
69          1st May 2021  10  15  21  30  32  38     24
70       28th April 2021   6  11  20  22  34  49     42
71       24th April 2021  14  18  27  33  34  39     49
72       21st April 2021  15  18  23  32  38  47     19
73       17th April 2021   7  13  32  38  39  48     23
74       14th April 2021   4   6  12  23  36  47     18
75       10th April 2021   5  16  19  24  28  34      4
76        7th April 2021  23  31  34  38  39  41     12
77        3rd April 2021  12  13  19  35  42  47     28
78       31st March 2021   3   7   8  12  37  40     41
79       27th March 2021  15  16  17  30  36  40     34
80       24th March 2021   3   4  27  43  45  48     44
81       20th March 2021   9  16  25  36  39  43     49
82       17th March 2021   4   9  13  25  44  49      3
83       13th March 2021  15  24  27  29  42  49     18
84       10th March 2021  30  31  35  36  43  48     28
85        6th March 2021   2  14  18  21  26  48     19
86        3rd March 2021   3  11  33  34  36  43     42
87    27th February 2021  11  15  16  20  46  49     17
88    24th February 2021  11  36  37  38  39  45     10
89    20th February 2021   2  14  15  21  29  46      7
90    17th February 2021   7  16  18  43  45  48     14
91    13th February 2021  16  17  27  40  41  45     38
92    10th February 2021   4  14  22  26  45  48     20
93     6th February 2021   6  11  12  26  28  38     47
94     3rd February 2021  20  21  26  30  35  41     47
95     30th January 2021   3  23  26  35  42  44     32
96     27th January 2021  12  17  23  36  44  49     32
97     23rd January 2021   5  17  21  29  41  43     46
98     20th January 2021   2   5  18  23  29  47     45
99     16th January 2021   9  10  21  28  35  43     34
100    13th January 2021  20  27  28  37  38  39      9
101     9th January 2021   4   8  18  24  31  32     40
102     6th January 2021  15  23  30  31  32  42     48
103     2nd January 2021  16  17  20  42  47  49     40

In [17]:
#first 5 rows

df.head()

            Draw Date   1   2   3   4   5   6  Bonus
0  29th December 2021  18  32  42  44  45  48     38
1  25th December 2021   4  13  21  24  31  45     41
2  22nd December 2021   1   2   3  11  15  43     46
3  18th December 2021   2  10  15  16  20  49     18
4  15th December 2021   1   9  12  18  35  48     19

In [22]:
#print only lottery numbers

df.loc[:,'1':'Bonus':1]

      1   2   3   4   5   6  Bonus
0    18  32  42  44  45  48     38
1     4  13  21  24  31  45     41
2     1   2   3  11  15  43     46
3     2  10  15  16  20  49     18
4     1   9  12  18  35  48     19
..   ..  ..  ..  ..  ..  ..    ...
99    9  10  21  28  35  43     34
100  20  27  28  37  38  39      9
101   4   8  18  24  31  32     40
102  15  23  30  31  32  42     48
103  16  17  20  42  47  49     40

[104 rows x 7 columns]

## Code

In [165]:
i = 0
#repeat 500 times, for good measure, and some luck
while i < 500:
    rand1 = np.random.choice(df['1'], 1)
    rand2 = np.random.choice(df['2'], 1)
    rand3 = np.random.choice(df['3'], 1)
    rand4 = np.random.choice(df['4'], 1)
    rand5 = np.random.choice(df['5'], 1)
    rand6 = np.random.choice(df['6'], 1)
    randBonus = np.random.choice(df['Bonus'], 1)
    i+=1

lotteryList = [rand1,rand2,rand3,rand4,rand5,rand6]
lotteryList.sort()

#in case 2 numbers are the same, which is not allowed

for i in range(len(lotteryList)):
    if lotteryList[i-1] == lotteryList[i]:
        if lotteryList[i] == 1:
            lotteryList[i] += 1
        elif lotteryList[i] == 49:
            lotteryList[i] -= 1
        else:
            lotteryList[i] += 1

# Lottery Numbers:

In [166]:
print("Your numbers are: ")
for j in range(len(lotteryList)):
    print(lotteryList[j], end="")
print("\nGood Luck!")

Your numbers are:
[7][8][16][38][45][47]
Good Luck!

In [163]:
#ran this over 100 times, did not have a case where first number < 1, or last number > 49